.footer {
    .footerGrafico{
        text-align: center;
        background-color: #4a4a4a;
        padding: 60px 0 60px 0;
        width: 100%;
       
         a {
            text-decoration: none;
            color: #d8d8d8;
            }

        img {
            padding-bottom: 20px;
            } 
        }
        }


