.cardImagen {
    margin-top: 20px;

    img {
        object-fit: cover;
        height: 300px;
    }
}

.cardProyecto {
    background-color: lightslategray;
    display: flex;
    margin-top: 40px;
    justify-content: space-around;

    img {
        height: 150px;
        object-fit: cover;
    }
}